header{
    background-color: #e7f4fd;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}
.logoname{
    text-align: center;
    justify-content: center;
    align-items: center;
    }
.menu{
    flex-direction: row;
    display: flex;
    margin-right:200px;
}
.loginres{
    flex-direction: row;
    display: flex;
}
.btnLogin{
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: #FCF6E6;
    background-color: #315D7D;
}
.btnLogin:hover{
    background-color: #FCF6E6;
    cursor: pointer;
    color: black;
}
.btnRegister{
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #FCF6E6;
    display: flex;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #315D7D;
}
.blogimg{
    width: 100%;
}
.line{
    height: 5px;
    background-color: #315D7D;
}
.logoimg{
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
.logincontainer{
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: center;

}
.loginframe{
    background-color: #FCF6E6;
    padding: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.loginform{
    display: flex;
    flex-direction: column;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 10px;
}
.loginbtn{
    margin-top: 30px;
    width: 300px;
    background-color: #315D7D;
    height: 35px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}
.loginbtn:hover{
    background-color: #FCF6E6;
    cursor: pointer;
    color: black;
}


