/* Container and footer */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Chiều cao 100% của viewport */
  
}

.main-content {
  flex: 1 1 auto;
}

footer {
  background-color: #e7f4fd; /* Màu nền */
  color: black; /* Màu chữ */
  padding: 20px 0; /* Khoảng cách giữa nội dung và viền của footer */
  position: fixed; /* Cố định footer ở cuối trang */
  bottom: 0; /* Dính footer vào phía dưới */
  width: 100%; /* Chiều rộng tối đa của footer */
}

footer div {
  text-align: center; /* Căn giữa nội dung của footer */
}


header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 10px 20px;
  background-color: #e7f4fd;
  /* Màu nền */
  color: #333;
  /* Màu chữ */
}

.logoname {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Header Admin */
/* styles.css */
/* styles.css */
.sidebar {
  width: 250px;
  /* Độ rộng của sidebar */
  height: 100%;
  /* Chiều cao của sidebar */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  border-right: 3px solid lightblue;
  flex-direction: column;
}

.menuAdmin p {
  margin-bottom: 10px;
  /* Khoảng cách giữa các mục trong menu */
}

.menuAdmin a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menuAdmin a:hover {
  color: lightgray;
}

.menuAdmin p.active a {
  font-weight: bold;
  color: lightblue;
  /* Màu sắc của mục active */
  border-left: 4px solid lightblue;
  /* Border màu lightblue ở bên trái */
  padding-left: 6px;
  /* Padding bổ sung để tạo khoảng cách giữa văn bản và border */
  color: lightblue;
  /* Màu sắc của mục active */
}


/* /////////////// */

/* Header Student */
.menuStudent {
  display: flex;
}

.menuStudent p {
  margin-right: 20px;
}

.menuStudent p:last-child {
  margin-right: 0;
}

.menuStudent a {
  text-decoration: none;
  color: #333;
  /* Màu chữ */
  font-size: 20px;
  transition: color 0.3s ease;
  padding: 8px 12px;
  /* Padding để tạo khoảng trống xung quanh văn bản */
}

.menuStudent a:hover {
  color: #555;
  /* Màu chữ khi hover */
}

.menuStudent a.active {
  font-weight: bold;
  color: #007bff;
  /* Màu chữ khi active */
  background-color: #fff;
  /* Màu nền khi active */
  border: 2px solid #007bff;
  /* Border khi active */
  border-radius: 4px;
  /* Bo góc border */
}


/* /////////////////////////////////////////////////////////////////////////////////////// */


/* Header Guess */
.menuGuess {
  display: flex;
  align-items: center;
}

.menuGuess a {
  text-decoration: none;
  color: #333;
  /* Màu chữ */
  font-size: 16px;
  margin-right: 20px;
}

.menuGuess a:hover {
  color: #007bff;
  /* Màu chữ khi hover */
}

.menuGuess a.active {
  font-weight: bold;
  color: #007bff;
  /* Màu chữ khi active */
  background-color: #fff;
  /* Màu nền khi active */
  border: 2px solid #007bff;
  /* Border khi active */
  padding: 10px;
  border-radius: 4px;
  /* Bo góc border */
}

.dropdown {
  position: relative;
}

.dropdown button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  display: block;
  padding: 8px 20px;
  color: #333;
  /* Màu chữ */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
  /* Màu nền khi hover */
}

.btnLogin {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btnLogin:hover {
  background-color: #007bff;
  /* Màu nền khi hover */
  color: #fff;
  /* Màu chữ khi hover */
}


/* ///////////////////////////////////////////////////////////////////////////////////////// */

.blogimg {
  width: 100%;
}

.line {
  height: 2px;
  background-color: #315D7D;
}



/* Login */

.logincontainer {
  display: flex;
  align-items: center;
  height: 100vh;
  /* Thay đổi chiều cao thành 100% của viewport */
  justify-content: center;
  background-color: #f0f0f0;
  /* Một màu nền nhẹ nhàng */
}

.loginframe {
  background-color: #ffffff;
  /* Nền trắng */
  padding: 50px;
  width: 300px;
  border-radius: 10px;
  /* Giảm độ cong của góc thành 10px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Thêm bóng nhẹ */
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Canh giữa các thành phần trong form */
}

.loginform label {
  width: 100%;
  max-width: 300px;
  margin-bottom: 5px;
}

.titlelogin{
  text-align: center;
}


.loginform input {
  width: 100%;
  /* Đảm bảo rằng input sẽ điền vào toàn bộ chiều rộng của cha */
  max-width: 300px;
  /* Tối đa là 300px */
  height: 20px;
  /* Tăng chiều cao của input */
  padding: 10px;
  /* Tăng khoảng cách bên trong input */
  margin-bottom: 0px;
  /* Khoảng cách giữa các input */
  border: 1px solid #ddd;
  /* Viền nhẹ */
  border-radius: 5px;
  /* Độ cong nhẹ */
}

.loginbtn {
  width: 100%;
  max-width: 300px;
  height: 40px;
  margin-top: 50px;
  background-color: #315D7D;
  font-size: 16px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu nền */
}

.loginbtn:hover {
  background-color: #254361;
  /* Màu nền tối hơn khi hover */
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Login */



.logout {
  width: 100%;
  max-width: 300px;
  height: 40px;
  margin-top: 50px;
  background-color: #315D7D;
  font-size: 16px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển đổi màu nền */
}

.logout:hover {
  background-color: #254361;
  /* Màu nền tối hơn khi hover */
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

.homebtn {
  background-color: #315D7D;
  padding: 10px;
  border-radius: 10px;
}

.homebtn:hover {
  background-color: #FCF6E6;
  cursor: pointer;
  color: black;
}


.dropdown {
  position: relative;
  /* Needed for absolute positioning of dropdown content */
}

.dropdown-content {
  display: none;
  /* Initially hide the dropdown content */
  position: absolute;
  /* Position the content absolutely relative to the dropdown button */
  background-color: #f1f1f1;
  min-width: 160px;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* Ensure content is displayed above other elements */
  display: flex;
  flex-direction: column;

}

.drlist-item {
  padding: 10px;
  text-decoration: none;
}

.drlist-item:hover {
  background-color: #FCF6E6;
  cursor: pointer;
  color: black;
}







/* All button */


button {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}


/* Table for view fac */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Admin role */
/* List Acc */
.newaccount{
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0836a0;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
}



.content {
  flex: 1; /* Phần nội dung sẽ mở rộng để lấp đầy không gian còn lại */
  padding-left: 295px;
}

.table-container {
  width: 100%; /* Chiều rộng bảng sẽ rộng hết không gian của div .content */
}

.table-container h1{
  text-align: center; /* Chiều rộng bảng sẽ rộng hết không gian của div .content */
}

.table {
  width: 100%; /* Chiều rộng bảng sẽ rộng hết không gian của div .table-container */
  border-collapse: collapse; /* Hợp nhất các đường viền của ô */
}

.table th, .table td {
  border: 1px solid #ddd; /* Đường viền của ô */
  padding: 8px; /* Khoảng cách giữa nội dung và đường viền */
  text-align: left; /* Canh lề trái cho nội dung */
}

.table th {
  background-color: #f2f2f2; /* Màu nền của hàng tiêu đề */
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Màu nền của các hàng chẵn */
}

.table tbody tr:hover {
  background-color: #ddd; /* Màu nền khi hover vào hàng */
}


.pagination {
  display: inline-block;
  list-style-type: none;
  margin: 20 0;
  
  padding: 0;
}

.pagination li {
  display: inline;
  margin-right: 5px; /* Khoảng cách giữa các số trang */
}

.pagination li a {
  color: #000; /* Màu chữ */
  text-decoration: none;
  padding: 5px 10px; /* Kích thước ô chứa số trang */
  border: 1px solid #ccc; /* Viền xung quanh */
}

.pagination li a:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.pagination .active a {
  background-color: #4CAF50; /* Màu nền của trang hiện tại */
  color: white; /* Màu chữ của trang hiện tại */
}

/* Admin home */

.background {
  background-image: url("https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/p2/1698976651/BLOG-technology-in-higher-education%401X.jpg");
  background-size: cover; /* Chỉnh kích thước ảnh để phủ hết phần nền */
  background-position: center; /* Canh giữa ảnh */
  height: 100%; /* Chiều cao 100% của viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 54px;
  text-align: center;
}












/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Student role */
/* diglog terms */
/* New Sub */
.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  /* Đảm bảo dialog hiển thị trên tất cả các phần khác của trang */
}

.dialog {
  text-align: center;
}

.dialog h2 {
  margin-bottom: 10px;
}

.dialog pre {
  font-size: 14px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;

}


.form-container input[type="text"],
.form-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container button[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}


.dropzone-content {
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropzone p {
  margin-bottom: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 8px;
  /* Để tạo khoảng cách giữa checkbox và văn bản */
}

.checkbox {
  width: 15px;
}

.text-terms {
  color: #007bff;
}


/* List Sub */


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-list {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}

.files-column,
.status-column {
  flex: 1;
}

.files-column {
  margin-right: 20px;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin: 0;
}

.centered-button {
  margin-top: 20px;
}

/* Student home */


.box-list-course {
  width: 100%;
  height: 100px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Student detail */
.sub-box {
  border: 1px solid black;

}

.detail-item {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.comment-item {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.title-item {
  width: 300px;
  border-right: 1px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
}

.result-item {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Student list */
.box-list {
  width: 100%;
  height: 100px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Student edit */
.box-list-edit {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}














/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Forbidden */
.forbidden-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-page {
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-for {
  font-size: 36px;
  color: #e74c3c;
  margin-bottom: 10px;
}

.for-p {
  font-size: 18px;
  color: #333;
}




/* Magazine Post */
/* Create two unequal columns that floats next to each other */
/* Left column */
.w-full {
  float: center;
  width: 100%;
}

/* Fake image */
.fakeimg {}

/* Add a card effect for articles */
.card-magazine {
  border: 2px solid black;
  /*Chỉnh màu background đây */
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clear floats after the columns */
.row-mg:after {
  content: "";
  display: table;
  clear: both;
}

.body-magazine {
  flex: 1 1 auto;
  padding: 20px;
}

/* Contact Us */
.contact-us {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.contact-img {
  width: 100%;
}

.t-contact {
  font-size: 60px;
}

.information {
  font-size: 40px;
  font-weight: 70px;
}

/*Dashboard*/

.dashboard {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.title-dash {}

.barchart,
.pie-chart {
  flex: 1;
  /* Phần tử con sẽ chiếm toàn bộ không gian còn lại */
  margin-right: 20px;
  /* Khoảng cách giữa các phần tử con */
  justify-content: center;
  align-items: center;
  display: flex;
}