.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tabs li.active {
  background-color: red;
}

.content {
  padding: 20px;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: black;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
}

/* .sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  color: #000;
} */
.link{
  text-decoration: none;
  
}
.tabs .active {
  color: red;
  font-weight: bold;
  border: 2px solid red;
  background-color: yellow;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

 
  
  
}
